.sf-margin-top {
    margin-top: 10px;
}

.sf-margin-top-lg {
    margin-top: 20px;
}

.app-tab-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    .van-tabs__content {
        flex: 1;
        overflow-y: auto;
    }
    .van-tab__panel {
        height: 100%;
    }
}
