/**
 * @description 全局主题变量配置
 */
//颜色配置
// $base-color-white: #ffffff;
// $base-color-black: #515a6e;
// $base-color-primary: #1890ff;
// $base-color-success: #13ce66;
// $base-color-warning: #ffba00;
// $base-color-danger: #ff6700;
// $base-color-error: #ff4d4f;
// $base-color-grey: rgba(0, 0, 0, 0.65);
$base-color-danger: #e60012;
$base-color-background: #f6f6f6;

$text-color-white: #ffffff;
$text-color-black: #000000;
